<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>US ASYLUM</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <!-- big header & short description -->
  <div class="header">
    <div class="row">
        <h1>AFFIRMATIVE AND DEFENSIVE ASYLUM IN THE US</h1>
      </div>
      <div class="container">
        <div class="row">
            <h4>Asylum seekers are those who meet the criteria for refugee status but apply from within the United States, or at ports of entry, <br> after arriving under a different status. Asylum seekers follow a different protocol than those applying for refugee status.</h4>
          </div>
      <!-- dropdown button -->
      <div class="container">
        <div class="row">
          <div class="well">
            <h3>Year:</h3>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
        </div>
      </div>
      <!-- sections for visualizations, more description -->
      <div class="body">
        <div class="row">
            <h4> It was not until after the fall of South Vietnam to communist forces in 1975, when the United States began taking in hundreds of <br> thousands of Southeast Asian refugees, that Congress established a more standardized system. As humanitarian crises around <br> the world grew, a ceiling of 110,000 refugees was set under President Obama. Throughout his presidency, President Trump <br> continued to lower the cap until it was its absolute lowest at 15,000 in fiscal year 2021.</h4>
          </div>
    <div class="body">
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Arrivals</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">World</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Barchart</h3>
          </div>
          <div>
            <canvas id="myChart" width="2100" height="450"></canvas>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="Arrivals"></div>
      </div>
    <div class="row">
      <div class="col-md-12">
          <svg id="my_dataviz" width="400" height="300"></svg>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="container">
          </div>
        </div>
    </div>
  </div>

  <!-- js & bootstrap scripts -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../static/js/logic.js"></script>
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

</body>

</html>


