<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>US ASYLUM</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <!-- big header -->
  <div class="container">
    <div class="row">
        <h1>AFFIRMATIVE AND DEFENSIVE ASYLUM IN THE US 1990-2021</h1>
      </div>
      <!-- dropdown button -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Year
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">1990</a>
          <a class="dropdown-item" href="#">1991</a>
          <a class="dropdown-item" href="#">1992</a>
          <a class="dropdown-item" href="#">1993</a>
          <a class="dropdown-item" href="#">1994</a>
          <a class="dropdown-item" href="#">1995</a>
          <a class="dropdown-item" href="#">1996</a>
          <a class="dropdown-item" href="#">1997</a>
          <a class="dropdown-item" href="#">1998</a>
          <a class="dropdown-item" href="#">1999</a>
          <a class="dropdown-item" href="#">2000</a>
          <a class="dropdown-item" href="#">2001</a>
          <a class="dropdown-item" href="#">2002</a>
          <a class="dropdown-item" href="#">2003</a>
          <a class="dropdown-item" href="#">2004</a>
          <a class="dropdown-item" href="#">2005</a>
          <a class="dropdown-item" href="#">2006</a>
          <a class="dropdown-item" href="#">2007</a>
          <a class="dropdown-item" href="#">2008</a>
          <a class="dropdown-item" href="#">2009</a>
          <a class="dropdown-item" href="#">2010</a>
          <a class="dropdown-item" href="#">2011</a>
          <a class="dropdown-item" href="#">2012</a>
          <a class="dropdown-item" href="#">2013</a>
          <a class="dropdown-item" href="#">2014</a>
          <a class="dropdown-item" href="#">2015</a>
          <a class="dropdown-item" href="#">2016</a>
          <a class="dropdown-item" href="#">2017</a>
          <a class="dropdown-item" href="#">2018</a>
          <a class="dropdown-item" href="#">2019</a>
          <a class="dropdown-item" href="#">2020</a>
          <a class="dropdown-item" href="#">2021</a>
        </div>
      </div>
      <!-- sections for visualizations -->
    <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Arrivals</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">World</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Barchart</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="Arrivals"></div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <div id="World"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="Barchart"></div>
        </div>
    </div>
  </div>

  <!-- js & bootstrap scripts -->
  <script src="../logic.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="../static/js/logic.js"></script>
</body>

</html>


