<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>US ASYLUM</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <!-- big header -->
  <div class="container">
    <div class="row">
        <h1>AFFIRMATIVE AND DEFENSIVE ASYLUM IN THE US 1990-2021</h1>
      </div>
      <!-- dropdown button -->
      <div class="button">
        <h5>Year:</h5>
        <select id="selDataset" onchange="optionChanged(this.value)"></select>
      </div>
      <!-- sections for visualizations -->
    <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Arrivals</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">World</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Barchart</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="Arrivals"></div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <div id="World"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="Barchart"></div>
        </div>
    </div>
  </div>

  <!-- js & bootstrap scripts -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="../static/js/logic.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>


